{% extends 'base.html' %}
{% include 'headers.html' %}

{% block title%} Home {% endblock %}

{% block body %}

<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 10 CBD  
        </div>
        <br>
        <br>
        <form action="/question10CBD", method="POST" , method = "GET">

            <label id="labels">Enter State name</label>
            <input type="text" id="q11id1" name="state" style="margin-left: 2%;width: 30%;" placeholder="Enter state" required/>
            <br><br>
            
            <label id="labels">Start range of rank</label>
            <input type="text" id="q11id1" name="startrank" style="margin-left: 2%;width: 30%;" placeholder="Min Population" required/>
            <br><br>

            <label id="labels">Ending range of end</label>
            <input type="text" id="q11id2" name="endrank" style="margin-left: 2%;width: 30%;" placeholder="Max Population" required/>
            <br><br>
            <input class="btn btn-secondary" type="submit" id="button" value="Question 10 CBD "/>
        </form>
    </div>
</div> 
<hr>

<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 11 CBD  
        </div>
        <br>
        <br>
        <form action="/question11CBD", method="POST" , method = "GET">
            <label id="labels">Enter T</label>
            <input type="text" id="q11id1" name="T" style="margin-left: 2%;width: 30%;" placeholder="Enter T" required/>
            <br><br>

            <label id="labels">Enter State name</label>
            <input type="text" id="q11id1" name="state" style="margin-left: 2%;width: 30%;" placeholder="Enter state" required/>
            <br><br>
            
            <label id="labels">Start range of rank</label>
            <input type="text" id="q11id1" name="startrank" style="margin-left: 2%;width: 30%;" placeholder="Min Population" required/>
            <br><br>

            <label id="labels">Ending range of end</label>
            <input type="text" id="q11id2" name="endrank" style="margin-left: 2%;width: 30%;" placeholder="Max Population" required/>
            <br><br>
            <input class="btn btn-secondary" type="submit" id="button" value="Question 11 CBD "/>
        </form>
    </div>
</div> 
<hr>















































<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 14 : Nth largest and Nth smallest
        </div>
        <br>
        <br>
        <form action="/question14", method="POST" , method = "GET">

            <label id="labels">Enter N</label>
            <input type="text" id="q11id1" name="n" style="margin-left: 2%;width: 30%;" placeholder="Enter N" required/>
            <br><br>
            
            <label id="labels">Start range of population</label>
            <input type="text" id="q11id1" name="startpop" style="margin-left: 2%;width: 30%;" placeholder="Min Population" required/>
            <br><br>

            <label id="labels">Ending range of population</label>
            <input type="text" id="q11id2" name="endpop" style="margin-left: 2%;width: 30%;" placeholder="Max Population" required/>
            <br><br>
            <input class="btn btn-secondary" type="submit" id="button" value="Nth largest and Nth smallest"/>
        </form>
    </div>
</div> 
<hr>

<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 1 : Measuring time
        </div>
        <br>
        <br>
        <form action="/question1", method="POST" , method = "GET">

           
            <input class="btn btn-secondary" type="submit" id="button" value="Measuring time"/>
            <br>
            <br>
            <input class="btn btn-secondary" id="button" value={{totaltime}}/>

        </form>
    </div>
</div> 
<hr>
<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 2 : Measuring time with redis and Database
        </div>
        <br>
        <br>
        <form action="/question2", method="POST" , method = "GET">

           
            <input class="btn btn-secondary" type="submit" id="button" value="Measuring time"/>
            <br>
            <br>
            <input class="btn btn-secondary" id="button" value={{randomquerytimeredis}}/>

        </form>
    </div>
</div> 
<hr>
<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 3 : Measuring time with redis 
        </div>
        <br>
        <br>
        <form action="/question3", method="POST" , method = "GET">

           
            <input class="btn btn-secondary" type="submit" id="button" value="Measuring time"/>
            <br>
            <br>
            <input class="btn btn-secondary" id="button" value={{randomquerytimeredis}}/>

        </form>
    </div>
</div> 
<hr>
<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 10aSai : nst range
        </div>
        <br>
        <br>
        <form action="/question10aSai", method="POST" , method = "GET">

            <label id="labels">Start range of NST</label>
            <input type="text" id="q11id1" name="RangeStart" style="margin-left: 2%;width: 30%;" placeholder="RangeStart" required/>
            <br><br>

            <label id="labels">Ending range of NST</label>
            <input type="text" id="q11id2" name="RangeEnd" style="margin-left: 2%;width: 30%;" placeholder="RangeEnd" required/>
            <br><br>
            <input class="btn btn-secondary" type="submit" id="button" value="nst range"/>
        </form>
    </div>
</div> 
<hr>

<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 10bSai : n and net value range with offset
        </div>
        <br>
        <br>
        <form action="/question10bSai", method="POST" , method = "GET">

            <label id="labels">Enter N</label>
            <input type="text" id="q11id1" name="N" style="margin-left: 2%;width: 30%;" placeholder="Enter N" required/>
            <br><br>

            <label id="labels">Enter Net</label>
            <input type="text" id="q11id1" name="Net" style="margin-left: 2%;width: 30%;" placeholder="Enter Net" required/>
            <br><br>
            <input class="btn btn-secondary" type="submit" id="button" value="nst range"/>
        </form>
    </div>
</div> 
<hr>

<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 11 : 10ab with DB and Redis
        </div>
        <br>
        <br>
        <form action="/question11Sai", method="POST" , method = "GET">

            <label id="labels">Enter T</label>
            <input type="text" id="q11id1" name="T" style="margin-left: 2%;width: 30%;" placeholder="Enter T" required/>
            <br><br>

            <label id="labels">Enter N</label>
            <input type="text" id="q11id1" name="N" style="margin-left: 2%;width: 30%;" placeholder="Enter N" required/>
            <br><br>

            <label id="labels">Enter Net</label>
            <input type="text" id="q11id1" name="Net" style="margin-left: 2%;width: 30%;" placeholder="Enter Net" required/>
            <br><br>

            <label id="labels">Start range of NST</label>
            <input type="text" id="q11id1" name="RangeStart" style="margin-left: 2%;width: 30%;" placeholder="RangeStart" required/>
            <br><br>

            <label id="labels">Ending range of NST</label>
            <input type="text" id="q11id2" name="RangeEnd" style="margin-left: 2%;width: 30%;" placeholder="RangeEnd" required/>
            <br><br>
            


            <input class="btn btn-secondary" type="submit" id="button" value="question11"/>
        </form>
    </div>
</div> 
<hr>

<hr>
<div class="container">
    <div class="row text-center">
        <div>
            Question 12 : 10ab with Redis only
        </div>
        <br>
        <br>
        <form action="/question12Sai", method="POST" , method = "GET">

            <label id="labels">Enter T</label>
            <input type="text" id="q11id1" name="T" style="margin-left: 2%;width: 30%;" placeholder="Enter T" required/>
            <br><br>

            <input class="btn btn-secondary" type="submit" id="button" value="question12"/>
        </form>
    </div>
</div> 
<hr>


{% endblock %}