{% extends 'base.html' %}
{% include 'headers.html' %}


{% block title%} Question 10CBD {% endblock %}

{% block body %} 

<hr>
<div>{{time_elapsed}}</div>
<div class="container">
<table class="table">
    <tbody>
        <table class="table table-secondary table-striped text-center table-hover">
            <tr>
                <th >City</th>
                <th >State</th>
                <th >Rank</th>
                <th >Population</th>
            </tr>
        {% for item in list1 %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
        </tr>
        {% endfor %} 
        </table>  
    </tbody>
   </table>
</div>
{% endblock %}